body {
  background-color: #363636;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0;
}

.profile-card {
  background-color: #000000;
  width: 280px;
  border: 2px solid #000000;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
  text-align: center;
}

.profile-card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #e9e9e9;
}

.profile-card h2 {
  margin: 15px 0 5px;
  color: #ffffff;
}

.profile-card p {
  color: #555;
  font-size: 14px;
}

.profile-card ul {
  list-style: none;
  padding: 0;
  margin: 15px 0;
  text-align: left;
}

.profile-card li {
  margin: 5px 0;
  color: #727272;
}

.profile-card button {
  background-color: #272727;
  color: white;
  border: 2px solid #ffffff;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.profile-card button:hover {
  background-color: white;
  color: #666666;
}
